<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springboot.demo.mapper.dnf.StormRouteMapper">

    <resultMap id="BaseResultMap" type="com.springboot.demo.entity.dnf.StormRoute">
        <result column="role_id" property="roleId"/>
        <result column="first_boss" property="firstBoss"/>
        <result column="second_boss" property="secondBoss"/>
        <result column="pass_time" property="passTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="BaseResultMapComprehensiveAnalysis" type="com.springboot.demo.controller.dnf.response.ComprehensiveAnalysisResponse">
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="max_pass_time" property="maxPassTime"/>
        <result column="min_pass_time" property="minPassTime"/>
        <result column="avg_pass_time" property="avgPassTime"/>
        <result column="pass_dungeons_number" property="passDungeonsNumber"/>
    </resultMap>

    <select id="comprehensiveAnalysis" parameterType="com.springboot.demo.controller.dnf.request.ComprehensiveAnalysisRequest" resultType="com.springboot.demo.controller.dnf.response.ComprehensiveAnalysisResponse">
        select * from (
            select
                t1.role_id,
                t2.name role_name,
                avg(t1.pass_time) avg_pass_time,
                max(t1.pass_time) max_pass_time,
                min(t1.pass_time) min_pass_time,
                count(t1.role_id) pass_dungeons_number
            from storm_route t1 left join role t2 on t1.role_id = t2.id
            group by t1.role_id
        ) t
        <if test="orderBy != null and orderBy != ''">
            order by  ${orderBy}
        </if>
        <if test="asc == false">
            DESC
        </if>
        <if test="asc == true">
            ASC
        </if>
    </select>
</mapper>