<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springboot.demo.mapper.dnf.StormRouteMapper">

    <resultMap id="BaseResultMap" type="com.springboot.demo.entity.dnf.StormRoute">
        <result column="role_id" property="roleId"/>
        <result column="first_boss" property="firstBoss"/>
        <result column="second_boss" property="secondBoss"/>
        <result column="pass_time" property="passTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>