<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springboot.demo.mapper.sys.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="com.springboot.demo.entity.sys.SysPermission">
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
    </resultMap>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select p.id, p.name, p.permision
        from sys_permission p
        left join role_permission rp on p.id = rp.permission_id
        where ur.role_id = #{role_id}
    </select>

    <select id="selectByUserId" resultType="java.lang.String">
        select p.permission
        from sys_permission p
        left join role_permission rp on p.id = rp.permission_id
        left join user_role ur on ur.role_id = rp.role_id
        where ur.user_id = #{usreId}
    </select>
</mapper>